# Application Configuration
PORT=3000
DUFFEL_ACCESS_TOKEN=duffel_test_dummy

# Database Configuration (PostgreSQL)
DATABASE_NAME=sky_airlines
DATABASE_USER=postgres
DATABASE_PASSWORD=root
DATABASE_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# MailHog Configuration
MAIL_PORT=1025
MAILHOG_UI_PORT=8025
